<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emjiayuan.app">

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录制视频权限 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>


    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:icon="@drawable/start_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/start_icon"
        tools:replace="android:theme"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="com.emjiayuan.app.fileProvider"

            android:grantUriPermissions="true"

            android:exported="false">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths"/>

        </provider>



        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="p4nrYAl0at4GGsotA7BdEwiuyDZQShmX" >
        </meta-data>
        <!--<service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>-->
        <service
            android:name="com.emjiayuan.app.Utils.PollingService"
            android:enabled="true"
            android:process=":remote"/>

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/AppSplash"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.GuideActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CgpwdActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HistoryActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CameraActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SqMineActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MyPostActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MyMessageActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MyLetterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MyLetterDetailActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MySoupOrderActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AllGoodsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.GoodsDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.IntegralYlDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.NewArrivalsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PostActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PostAudioActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PostDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode = "adjustPan"></activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PwdForgetActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.BalanceActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.IntegralActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CouponActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CouponActivity2"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CollectionActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.address.AddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.address.AddAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.address.ModifyAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TopUpActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.LogisticsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.LogisticsDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.VipActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CouponGetActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CouponUseActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SecondsKillActivity2"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderConfirmActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderConfirmActivity2"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderConfirmActivity3"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderNormalActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderNormalActivity2"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderTopUPActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderSoupActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderIntegralActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SoupOrderDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SpitActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.EnterpriseActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HezuoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SoupwikiActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.KfActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HelpActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SoupSuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SpecialActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TwzqActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TlzqActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PopularActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.IntegralYlActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TldzActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MessageDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.JudgeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TypeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ShoppingCarActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SoupOrderConfirmActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CityActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".BaseActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.FundArealistActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ImagePagerActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"></activity>
        <activity android:name=".activity.CustomImagePreviewActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        //图片选择器
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>
        //图片裁剪
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //支付宝相关
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        //微信相关
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <receiver android:name=".AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!--新浪begin-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            >

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--支付宝-->
        <!--<activity-->
            <!--android:name=".apshare.ShareEntryActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--钉钉-->
        <!--<activity-->
            <!--android:name=".ddshare.DDShareActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <!--<receiver android:name=".receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                &lt;!&ndash; 接收消息透传 &ndash;&gt;
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                &lt;!&ndash; 监听注册、反注册、设置/删除标签、通知被点击等处理结果 &ndash;&gt;
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>